h1 {
  font-family: 'NoeDisplay';
  font-weight: 500;
  font-style: italic;
  font-size: 36px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

@media (max-width: 1023px) {
  h1 {
    border-bottom: 2px solid;
    line-height: 75px;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 52px;
    margin-top: 120px;
    margin-bottom: 60px;
  }
}
