@import '../../Elements/variables';

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  background-color: var(--primary);
  border-bottom: 10px solid var(--accent-to-green);
  transition: all 700ms;
}

/*.header--beta.header {
  background-color: var(--alt-primary);
  border-bottom: 10px solid var(--alt-accent-to-green);
}*/

.header.header--is-open {
  height: 100%;
  border-bottom: 56px solid var(--accent-to-green);
}

/*.header--beta.header.header--is-open {
  border-bottom: 56px solid var(--alt-accent-to-green);
}*/

.header__bar {
  height: 56px;
  border-bottom: 2px solid var(--white-to-green);
}

/*.header--beta .header__bar {
  border-bottom: 2px solid var(--alt-white-to-green);
}*/

.header__logo {
  float: left;
  width: 113px;
  height: 100%;
  border-right: 2px solid var(--white-to-green);
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
  .header__logo {
    border-right-width: 0;
  }
}

@media (min-width: 1440px) {
}

/*.header--beta .header__logo {
  border-right: 2px solid var(--alt-white-to-green);
}*/

.header__logo-link {
  display: block;
  display: flex;
  align-content: stretch;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.header__logo-svg {
  align-self: auto;
  flex: 0 0 auto;
  order: 0;
  width: 78px;
  height: 37px;
  fill: var(--white-to-green);
}

/*.header--beta .header__logo-svg {
  fill: var(--alt-white-to-green);
}*/

.header__hamburger {
  float: right;
  width: 85px;
  height: 100%;
  border-left: 2px solid var(--white-to-green);
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
  .header__hamburger {
    width: 114px;
  }
}

@media (min-width: 1440px) {
}

/*.header--beta .header__hamburger {
  border-left: 2px solid var(--alt-white-to-green);
}*/

.header__hamburger-button {
  width: 100%;
  height: 100%;
  outline: none;
}

.header__hamburger-bar {
  content: '';
  display: block;
  width: 40px;
  height: 2px;
  margin: 0 auto;
  margin-bottom: 8px;
  overflow: hidden;
  font-size: 0;
  color: white;
  border-top: 2px solid var(--white-to-green);
  border-radius: 2px;
  transition: all 250ms;
}

/*.header--beta .header__hamburger-bar {
  border-top-color: var(--alt-white-to-green);
}*/

.header__hamburger-bar:last-child {
  margin-bottom: 0;
  font-family: 'NoeDisplay';
  font-style: italic;
  font-weight: 500;
}

.header--is-open .header__hamburger-bar {
  width: 0;
  margin-bottom: 4px;
  opacity: 0;
}

.header--is-open .header__hamburger-bar:last-child {
  width: 40px;
  height: 56px;
  margin-top: -11px;
  font-family: 'NoeDisplay';
  font-size: 40px;
  font-style: italic;
  font-weight: 500;
  color: var(--white-to-green);
  border-top-width: 0;
  opacity: 1;
}

/*.header--beta.header--is-open .header__hamburger-bar {
  color: var(--alt-white-to-green);
}*/

.header__nav {
  display: flex;
  align-content: stretch;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  height: calc(100% - 56px);
  overflow: hidden;
}

.header__nav-list {
  align-self: auto;
  flex: 0 0 auto;
  order: 0;
  padding: 0;
  margin: 0;
  text-align: center;
  list-style: none;
}

.header__nav-link {
  display: block;
  margin-bottom: 20px;
  font-family: 'NoeDisplay';
  font-size: 28px;
  font-style: italic;
  font-weight: 500;
  color: var(--white-to-red);
  text-decoration: underline;
}

.header__nav-link:hover,
.header__nav-link:focus {
  color: var(--accent-to-green);
}

.header__nav-item:last-child .header__nav-link {
  margin-bottom: 0;
}

/*.header--beta .header__nav-link {
  color: var(--alt-white-to-red);
}*/

/*.header--beta.header__nav-link:hover,
.header--beta.header__nav-link:visited,
.header--beta.header__nav-link:focus {
  color: var(--alt-white-to-red);
}*/

.header__nav-link[active] {
  color: var(--accent-to-green);
}

/*.header--beta .header__nav-link[active] {
  color: var(--alt-accent-to-green);
}*/

.header__close-button {
  display: block;
  width: 100%;
  height: 0;
  margin-bottom: -56px;
  overflow: hidden;
  font-family: 'NoeDisplay';
  font-size: 28px;
  font-style: italic;
  font-weight: 500;
  line-height: 56px;
  color: var(--alt-primary);
  text-align: center;
  opacity: 0;
  transition: all 700ms;
}

.header--is-open .header__close-button {
  height: 56px;
  opacity: 1;
  transition: all 700ms;
}
