/*
  The HTML <article> element represents a self-contained composition
  in a document, page, application, or site, which is intended to be
  independently distributable or reusable (e.g., in syndication).
  Examples include: a forum post, a magazine or newspaper article, or a blog entry.
*/

article {
}
