h2 {
  font-family: 'NoeDisplay';
  font-weight: 500;
  font-style: italic;
  font-size: 24px;
  line-height: 28px;
}

@media (min-width: 1024px) {
  h2 {
    font-size: 38px;
    line-height: 38px;
  }
}

h2:before {
  content: "— ";
}

p + h2 {
  margin-top: 90px;
}

@media (min-width: 1024px) {
  p + h2 {
    margin-top: 30px;
  }
}
