.home-page-hero-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  margin-top: 104px;
}

@media (min-width: 768px) {
  .home-page-hero-section {
  }
}

@media (min-width: 1024px) {
  .home-page-hero-section {
    margin-top: 64px;
    margin-bottom: -120px;
    height: 550px;
  }
}

@media (min-width: 1440px) {
  .home-page-hero-section {
  }
}

.home-page-hero-section__logo {
  order: 0;
  flex: 0 0 auto;
  align-self: auto;
}

.home-page-hero-section__logo-skull {
  width: 500px;
  margin-top: 320px;
}

.home-page-hero-section__logo-palm-tree {
  width: 770px;
  margin-left: -230px;
}

.home-page-hero-section__title {
  width: 90vw;
  max-width: 950px;

  margin-bottom: 0;
  order: 0;
  flex: 0 0 auto;
  align-self: auto;
  text-align: center;
}

@media (min-width: 1024px) {
  .home-page-hero-section__title {
    width: 80vw;
  }
}
