h3 {
  font-family: 'NoeDisplay';
  font-weight: 500;
  font-style: italic;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 0;
  margin-top: 0;
}

@media (min-width: 1024px) {
  h3 {
    font-size: 28px;
    line-height: 28px;
  }
}
