@import '../../../variables';

picture {
  width: 100%;
  border-top: 56px solid;
  border-bottom: 56px solid;
  border-color: var(--alt-white-to-green);
  margin-top: 60px;
  margin-bottom: 60px;
  display: block;
}

picture img {
  width: 100%;
  float: left;
}

picture:after {
  content: "";
  display: table;
  clear: both;
}
