@import '../../Elements/variables';

.svg-fobject-sync {
  background-color: var(--primary);
}

#beta .svg-fobject-sync {
  background-color: var(--alt-primary);
}

.svg-fobject-sync__beta {
  pointer-events: none;
  display: none;
}
