@import './variables';

@font-face {
  font-family: 'NoeDisplay';
  src: url('/public/assets/webfontkit-20170731-193525/noe_display_medium_italic-webfont.woff2')
      format('woff2'),
    url('/public/assets/webfontkit-20170731-193525/noe_display_medium_italic-webfont.woff')
      format('woff');
  font-weight: 500;
  font-style: italic;
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1440px) {
}

:root {
  background-color: var(--primary);
  color: var(--white);
  font-family: Verdana;
  font-size: 14px;
  color: var(--white);
}

@media (min-width: 1024px) {
  :root {
    font-size: 16px;
  }
}
