:root {
  --primary: #1d0095;
  --alt-primary: #1d0077;

  --accent-to-green: #ffff97;
  --accent-to-red: #ffff97;
  --alt-accent-to-green: #9efdaa;
  --alt-accent-to-red: #ff9797;

  --white: #fff;
  --white-to-green: #fff;
  --white-to-red: #fff;
  --alt-white-to-green: #9efdaa;
  --alt-white-to-red: #ff9797;
}

/*
  --primary: var(--alt-primary);
  --accent-to-green: var(--alt-accent-to-green);
  --accent-to-red: var(--alt-accent-to-red);
  --white-to-green: var(--alt-white-to-green);
  --white-to-red: var(--alt-white-to-red);
*/
